extends layout.pug

block content
  h1.mt-5= "Welcome to Team Builder"
  p= "Welcome to the premiere team building and group finding website!"
  p= ""
    a.btn.btn-primary(href='/login') Login
    a.btn.btn-primary(href='/users/new' style="margin-left: 30px") Register
