extends layout.pug

block content
  h1.mt-5 Users
  table.table
    thead
      tr
        th(scope='col') Team Name
        th(scope='col') Project Description
        th(scope='col') Max Team Size
        th(scope='col') Is Full?
        th(scope='col') Delete?
        th
    tbody
      each user in userList
        tr
          td
            a(href='/users/' + user._id)= user.firstName
          td= user.userName